:root {
  --black1: #1a161f;
  --black2: #322a3d;
  --black3: #6c627a;
  --primary: #8931f5;
  --gray1: #f9f5ff;
  --gray2: #9e92ad;
  --yellow: #ffcc17;
}

::-webkit-scrollbar {
  background: transparent;
  width: 4px;
  height: 4px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray2);
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
#root {
  font-family: "Inter", sans-serif;
  background: var(--black1);
  color: var(--gray1);
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

fieldset {
  border: 0;
}

button {
  cursor: pointer;
  border: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--gray2);
}

button:hover,
a:hover {
  transition: 0.2s ease-in;
  filter: brightness(0.9);
}

@media (max-width: 700px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
