:root{
    --background: #1A161F;
    --purple-font: #8931F5;
    --gray-font: #F9F5FF;
    --gray-font2: #9E92AD;
    --form-background: #322A3D;
}

.purple{
    color: var(--purple-font);
}

.gray{
    color: var(--gray-font);
}

.gray2{
    color: var(--gray-font2);
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.nav-links a{
    font-family: 'Inter', sans-serif;
    font-size: 10pt;
    color: var(--gray-font2);
    text-decoration: none;
    margin-left: 30px;
}

.nav-bar > .nav-links{
    flex: 1;
}

.search-bar{
    flex: 2;
}

.search-bar > input{
    width: 450px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background: var(--form-background);
    color: white;
    margin-left: clamp(1%, 10vw, 5%);
}

.dicover {
    flex: 1;
}

.collection-details {
    padding: 32px;
}
  
.collection-details h3 {
    margin-top: 10px;
    color: var(--gray2);
}
  
.collection-items {
    display: grid;
    grid-gap: 16px;
    padding: 8px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px,1fr);
    overflow-x: auto;
}
