.header_welcome {
  max-width: 1200px;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_welcome .button_secundary {
  width: 112px;
  height: 50px;
  background: transparent;
  border: 1px solid var(--gray2);
  color: var(--gray1);
  font-weight: 700;
  border-radius: 8px;
}

.header_welcome .button_primary {
  width: 112px;
  height: 50px;
  background: var(--primary);
  color: var(--gray1);
  font-weight: 700;
  border-radius: 8px;
  margin-left: 16px;
}

.section_main {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  display: flex;
  overflow: hidden;
}

.section_main .section_main--presentation {
  padding-left: 156px;
  align-self: center;
  margin-right: 84px;
}

.section_main .section_main--presentation h1 {
  font-size: 48px;
  max-width: 400px;
}

.section_main .section_main--screens {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.section_main--screens div img {
  width: 56px;
  height: 56px;
}

.section_main--screens div img + img {
  margin-left: 8px;
}

.section_main .section_main--screens p {
  color: var(--gray2);
  margin-left: 24px;
}

.section_main--slides {
  max-width: 900px;
  height: 540px;
  overflow: hidden;
}

.section_main--carts {
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.section_main--cart {
  position: relative;
  min-width: 400px;
  height: 100%;
  scale: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url('../../assets/house-of-the-dragon.png') no-repeat;
  background-size: contain;
  text-align: center;
  border-radius: 8px;
}

.section_main--cart:nth-child(2) {
  scale: 100%;
}

.section_main--cart p {
  max-width: 380px;
  font-size: 14px;
  z-index: 1;
}

.section_main--cart p:first-child {
  margin-bottom: 8px;
}

.section_main--cart h3 {
  margin-bottom: 28px;
  z-index: 2;
}

.section_main--cart p {
  margin-bottom: 40px;
  text-align: center;
}

.section_main--cart::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #211B29 28.13%, rgba(33, 27, 41, 0) 100%);
  border-radius: 8px;
  transform: rotate(-180deg);
}

@media (max-width: 700px) {
  .header_welcome {
    flex-direction: column;
  }
}
