.containerDeleteOrUpdateModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.contentDeleteOrUpdateModal {
  width: 100%;
  max-width: 573px;
  padding: 30px;
  background: var(--black1);
  margin-top: 20px;
}

.contentDeleteOrUpdateModal header {
  margin-bottom: 24px;
}

.contentDeleteOrUpdateModal header button {
  background: transparent;
  color: var(--gray1);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.contentDeleteOrUpdateModal header p {
  font-size: 32px;
}

.contentDeleteOrUpdateModal .choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.contentDeleteOrUpdateModal .uploadImage {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentDeleteOrUpdateModal .uploadImage input[type="file"] {
  display: none;
}

.contentDeleteOrUpdateModal .uploadImage #customInputFile {
  border: 1px solid var(--primary);
  border-radius: 8px;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
}

.contentDeleteOrUpdateModal .choice button {
  width: 250px;
  height: 42px;
  border-radius: 8px;
  margin-top: 8px;
  color: var(--gray2);
  background: var(--black2);
}

.contentDeleteOrUpdateModal form {
  overflow-y: scroll;
  max-height: 380px;
  padding: 8px;
}

.contentDeleteOrUpdateModal form .inputSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

.contentDeleteOrUpdateModal form .inputSelect label {
  margin-bottom: 8px;
}

.contentDeleteOrUpdateModal form .inputSelect select {
  background: var(--black2);
  color: var(--gray2);
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 0;
}

.contentDeleteOrUpdateModal form .inputSelect select:focus {
  border: 4px solid var(--primary);
}

.contentDeleteOrUpdateModal .actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentDeleteOrUpdateModal form button {
  margin-top: 24px;
  width: 45%;
}
